/*mountain gorilla/


/* THIS IS THE FIRST BUBBLE WITH THE PICTURE*/

.jumbotron {
}

.jon {
	text-align: center;
	margin: auto;
	width: 100%;
	height: auto;
}

img {

}

.tiger1 , .whale1 {
	float: left;
	border-radius: 1.3rem;
	margin: 10px;
	border: 3px solid black
}

.tiger2 , .whale2 {
	float: right;
	border-radius: 1.3rem;
	border: 3px solid black;
}

.words {
}

/* SECOND BUBBLE */
.description {
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 4rem 2rem;
	background-color: whitesmoke;
	border: 3px solid #005CFF;
	border-radius: .3rem;
	text-align: ;
}

h1 {
	font-family: 'Bree Serif', serif;
}